# Вспомогательные папки и скрипты
/DIR_OUT
/DIR_IN
/.vscode
/.idea
__pycache__
lowercase_with_words.py
merge_files_together ReadMe.txt
merge_files_together.py
venv
# Временное ограничение
ReadMe.txt
TODO.txt
temp.py
temp_on_work.py